<% provide(:title, "ログイン") %>
<div class="container-fluid">

    <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
    <% end %>

    <h2 class="fw-bold text-center border-bottom border-secondary my-4 pb-4">ログイン</h2>
    <div class="row justify-content-around  pt-4">
        <div class="col-md-5 shadow-sm px-3 pb-5" style="background-color:#EEEEEE;">
            <%= form_with url: login_path, scope: :session, data: { turbo: false } do |f| %>
            <h5 class="fw-bold border-bottom my-3 pb-2"></i>ログインフォーム</h5>
            <div class="px-4 mt-2">
                <div class="col-12 mt-4">
                    <%= f.label :email, "メースアドレス", class:"form-label" %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>
            </div>
            <div class="px-4 mb-2">
                <div class="col-12 mt-3">
                    <%= f.label :password, "パスワード", class:"form-label" %>
                    <%= f.password_field :password, class: "form-control" %>
                    <%= f.label :remember_me, class: "form_labal checkbox inline mt-3" do %>
                    <%= f.check_box :remember_me, class: "form_control" %>
                        <span>ログインしたままにする</span>
                    <% end %>
                </div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary mt-4 px-5">ログインする</button>
            </div>
            <% end %>
        </div>
        <div class="col-md-5 px-3" style="background-color:#EEEEEE;">
            <h5 class="fw-bold border-bottom my-3 pb-2">初めてご利用される方へ</h5> 
            <div class="px-4 mt-4">
            <p class="my-4">ご利用にはユーザー登録が必要です。</p>
            <p>・メールアドレスとパスワードを設定してください。</p>
            <p>・ユーザー情報は、書誌データの管理にのみ使用します。
            </div>
            <div class="text-center mb-4" style="margin-top:100px;">
            <%= link_to "新規登録はこちら", signup_path, class: "btn btn-outline-secondary btn-lg px-4" %>
            </div>
        </div>
    </div>
</div>
