<div class="container">
    <div class="about_us">
        <h1>Jemref</h1>
        <p>JemRefは、人文・社会科学系分野の和文文献の書誌情報整理に特化したウェブアプリです、云々。</p>
        <p>＊ここにイメージが入る予定</p>
    </div>

    <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
    <% end %>

    <%= form_with model: @user, url: login_path, local: true do |f| %>
        <div class="sign-in-form">
            <h2>ログイン</h2>
            <%= f.label :email, "メールアドレス" %>
                <%= f.text_field :email %>
            <%= f.label :password, "パスワード" %>
                <%= f.text_field :password %>
            <%= f.submit "ログインする" %>
        </div>
    <% end %>
    <p>または</p>
    <div class="btn sign-up">
        <%= link_to("新規登録", users_signup_path) %>
    </div>


</div>