<div class="container">
    <div class="about_us">
        <h1>Jemref</h1>
        <p>JemRefは、人文・社会科学系分野の和文文献の書誌情報整理に特化したウェブアプリです、云々。</p>
        <p>＊ここにイメージが入る予定</p>
    </div>

    <!--エラーメッセージ-->
    <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
    <% end %>

    <!--ログインフォーム-->
    <%= form_with url: {controller: "users", action: "login"}, local: true do |f| %>
        <div class="sign-in-form">
            <h2>ログイン</h2>
            <p>メールアドレス: </p> 
                <%= f.text_field :email %>
            <p>パスワード: </p>
                <%= f.text_field :password %>
            <%= f.submit "ログインする" %>
        </div>
    <% end %>
    <p>または</p>
    <div class="btn sign-up">
        <%= link_to("新規登録", "/users/signup") %>
    </div>


</div>