<!-- createアクションの場合とupdateアクションの場合で処理を分岐 -->
<%= form_with model: @record, scope: :record, url: @record.new_record? ? records_path : record_path(@record),
              local: true, method: @record.new_record? ? :post : :patch do |f| %>
<%= f.hidden_field :type, value: "Book" %>
  <div class="input-group mb-3 p-4 pb-5 <%= @record.new_record? ? "border border-top-0" : "border" %> rounded-1 shadow-sm">
    <h5 class="fw-bold pb-3 mb-4 col-12 border-bottom border-secondary border-2"><span class="fa fa-book fa-lg pe-2"></span> 著書情報</h5>
    <div class="row g-3 needs-validation" novalidate>

      <%= render "records/forms/general", f: f %>
      
      <div class="col-md-8 mt-5">
        <%= f.label :volume_other_form, "巻号その他（任意）", class: "form-label" %>
        <%= f.text_field :volume_other_form, class: "form-control border-dark-subtle", placeholder: "1988年秋号 〇〇講座第2巻 など、-巻-号で表せない場合" %>
      </div>
      <div class="col-md-6 pe-5 mt-3">
        <%= f.label :publisher, "出版社", class: "form-label" %>
        <%= f.text_field :publisher, class: "form-control border-dark-subtle", required: true %>
      </div>
      <%= render "status_form", f: f %>
      
      <%= render "records/forms/details", f: f %>

      <div class="d-grid gap-2 mt-4 col-6 mx-auto">
        <%= f.submit "#{submit_btn}", class: "btn btn-primary btn-lg mt-3" %>
      </div>
    </div>
  </div>
<% end %>
