<div class="col-md-6 pe-5">
    <%= f.label :author_name, "著者名", class: "form-label" %>
    <%= f.text_field :author_name, class: "form-control border-dark-subtle", required: true %>
</div>
<div class="col-md-3">
    <%= f.label :publish_date, "刊行年（西暦・半角数字）", class: "form-label" %>
    <%= f.number_field :publish_date, class: "form-control border-dark-subtle", required: true %>
</div>
<div class="col-12 py-2">タイトル</div>
<div class="input-group col-md-12 pe-4">
    <%= f.text_field :main_title, class: "form-control border-dark-subtle", placeholder: "主題", required: true %>
    <span class="input-group-text">：</span>
    <%= f.text_field :sub_title, class: "form-control border-dark-subtle", placeholder: "副題" %>
</div>