<div class="col ms-2 me-2" style="width:85%;">  
    <div>
      <h5 class="fw-bold py-2 bg-secondary bg-opacity-10 mt-2">
        <span class="fa fa-file px-2" style=" font-size:25px;"></span> <%=record.author_name %>（<%= record.publish_date %>）
      </h5>
    </div>
    <h5 class="ms-4 fw-bold" style=" font-size:18px;">「 <%= record.get_title %> 」</h5>
    <p class="ms-5 text-secondary"><%= record.compiled_by %>編『<%= record.get_publication_title %>』<%= record.get_volume_and_number %><%= record.volume_other_form %><%= ", #{record.publisher}" %></p>
  </div>
  <div class="col-1 float-end smt-3  mt-2 ms-4">
  <h5><span class="badge bg-primary rounded-pill fw-normal"><%= record.human_attribute_enum(:status) %></span></h5>
</div>
