<!-- テスト実装、不十分 -->

<%= search_form_for @q do |f| %>
<!-- フリーワード検索 -->
<div class="input-group mb-4 ps-2 w-75">
  <!-- alias, ransackerによるリファクタリングの余地あり -->
  <%= f.search_field :author_name_or_main_title_or_sub_title_or_publisher_or_publication_main_title_or_publication_sub_title_or_compiled_by_or_memo_cont,
                     class: "form-control border-primary border-1", placeholder: "フリーワード検索", aria: { describedby: "button-addon" } %>
                  
  <%= f.submit "検索", class: "btn btn-primary px-5", id: "button-addon" %>
</div>

<div class="accordion accordion-flush mt-3 p-0 mb-5" id="accordionFlush">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="border-0 col-12" style="font-size:16px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        詳細検索
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <div>
          <%= f.label :author_name_or_compiled_by_cont, "著者・編者", class: "form-comtrol" %>
          <%= f.search_field :author_name_or_compiled_by_cont %>
          <p>タイトル</p>
          <p>出版社</p>
          <p>期間YYYY~YYYY</p>
      
        </div>
        <div class="input-group">
              <%= f.label :status, "既読"%>
              <%= f.radio_button :status_eq, "0" %>
      
              <%= f.label :status, "未読"%>
              <%= f.radio_button :status_eq, "1" %>
      
              <%= f.label :status, "不必要"%>
              <%= f.radio_button :status_eq, "2" %>
      
        </div>
      </div>
      <%= f.submit "検索", class: "btn btn-primary px-5" %>

    </div>
  </div>
</div>
  
<% end %>

</div>
