        <div class="main-contents">
            <h2 class="mt-4 mb-2">書誌情報の変更</h2>
            <div style="float:left;">
            <%= link_to "一覧に戻る", records_path, class: "ms-3 link-underline link-underline-opacity-0" %>
            </div>
            <% if @record.errors.full_messages %>
              <div class="error-alert">
              <ul>
                <% @record.errors.full_messages.each do |message| %>
                <li class='error-message'><%= message %></li>
                <% end %>
              </ul>
              </div>
            <% end %>
            
          <div class="container mt-5">

            <!-- bookの編集フォーム -->
            <% if @record.type == "Book" %>
              <%= render "book_registration"%>
              
            <!-- paperの編集フォーム -->
            <% elsif @record.type == "Paper" %>
              <%= render "paper_registration" %>
              
              <!-- compilationの編集フォーム -->
            <% else %>
              <%= render "compilation_registration" %>
            <% end %>            
          </div>
          

          <!-- 削除ボタンと警告モーダル -->
          <div class="mx-auto p-2 mt-4" style="width: 200px;">
          <%= form_with url: destroy_record_path(@record), method: :delete  do %>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-confirmation">
              書誌情報を削除する
            </button>
            <div class="modal fade" id="delete-confirmation" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">確認</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    本当に削除しますか？
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                    <button type="submit" class="btn btn-primary">はい</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
