<% provide(:title, "文献の一覧・検索") %>
<div class="container-fluid">
  <h2 class="my-4">文献の一覧・検索</h1>

  <!-- 検索フォーム -->
  <%= render "serch_form" %>
  <!-- 検索窓と検索結果の表示 -->
  <div class="bib-list mb-1" style="width:100%;">
    <div>
      <% if @keyword.present? %>
        <%= "「#{@keyword}」の検索結果" %>
      <% elsif @tag_name.present? %>
        <%= "タグ：「#{@tag_name}」" %>
      <% end %>
    </div>
    <div class="ms-3">
      <p class="my-2" style="display:inline-block;">全 <%= @records.count %> 件の文献情報</p>
        <%= link_to "（一覧に戻る）", records_path, class: "link-underline link-underline-opacity-0", style: "display:inline-block;" unless @keyword.nil? && @tag_name.nil? %>
    </div>
  </div>

  <!-- 検索結果一覧 -->
  <div>
    <%= will_paginate @records %>
    <!-- 文献情報がない場合のみ、サンプル入力ボタン -->
    <% if @records.empty? %>
    <%= render "add_sample_records_button"%>
    <% end %>
    <!-- 文献リスト -->
    <ul class="list-group mt-2">
      <% @records.each do |record| %>
        <li class="row list-group-item d-flex justify-content-between align-items-start shadow-sm mb-1 me-4 p-0 w-100">
          <div class="accordion accordion-flush w-100 px-0" id="accordionFlushExample">
            <div class="accordion-item" style="border-radius:5px 5px 5px 5px;">
              <!-- 基本的な情報 -->
              <h2 class="accordion-header" >
                <button class="accordion-button collapsed border py-0 ps-1 border-bottom-0" style="border-radius:5px 5px 0px 0px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= record.id%>" aria-expanded="false" aria-controls="flush-collapse<%= record.id%>">
                  <% case record.type %>
                  <% when "Compilation", "Paper" %>
                    <%= render "paper_info", record: record %>
                  <% when "Book" %>
                    <%= render "book_info", record: record %>
                  <% end %>
                </button>
              </h2>
              <!-- 詳細情報のアコーディオン -->
              <div id="flush-collapse<%= record.id%>" class="accordion-collapse collapse border">
                <div class="row justify-content-end accordion-body w-100">
                  <div class="col">
                    <!-- タグ表示 -->
                     <%= render "records_tags_button", record: record %>
                      
                      <!-- メモ表示 -->
                      <div class="mt-4">
                        メモ：
                        <%= record.memo %>
                      </div>
                      <div>
                    </div>
                  </div>
                  <div class="col-1 ms-1 me-1">
                    <%= link_to "更新", edit_record_path(record), class: "col btn btn-outline-secondary btn-sm mt-2 px-3" %>
                    <%= render "delete_btn", record: record %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="mt-5">
    <%= will_paginate @records %>
  </div>
</div>

