
        <div class="container-fluid">
            <h2 class="my-4">登録書誌表示・検索</h1>

              <%= form_with local: true, method: :get do %>
              <div class="input-group mb-4 ps-2 w-75">
                <input type="text" class="form-control border-primary border-2" name="keyword" placeholder="フリーワード検索"　aria-describedby="button-addon">
                <button type="submit" class="btn btn-primary px-5" id="button-addon">検索</button>
              </div>
              <% end %>

            <div class="bib-list">
              <% if @keyword.present? %>
                <%= "「#{@keyword}」の検索結果" %>
              <% end %>

              <% @records.each do |record| %>
                <div class="record-item">
                  <p>------------------------</p>
                  <% if record.type == "Compilation" || record.type == "Paper" %>
                    <h3>📃<%=record.author_name %>（<%= record.publish_date %>） 「<%= record.get_title %>」</h3>
                    <p><%= record.compiled_by %>編『<%= record.get_publication_title %>』<%= record.get_volume_and_number %><%= record.volume_other_form %>, <%= record.publisher %> （状態<%= record.status %>）</p>
                  <% elsif record.type == "Book" %>
                    <h3>📕<%=record.author_name %>（<%= record.publish_date %>） 『<%= record.get_title %>』<%= record.volume_other_form %></h3>
                    <p><%= record.publisher %> （状態<%= record.status %>）</p>
                  <% end %>
                  <div class="update-link">
                    <%= link_to("更新/削除", edit_record_path(record)) %>
                  </div>
                </div>
              <% end %>
            </div>

        </div>

