<% provide(:title, "文献の一覧・検索") %>
<div class="container-fluid">
  <h2 class="my-4">文献の一覧・検索</h1>

    <!-- 検索フォーム -->
    <%= form_with local: true, method: :get do %>
    <div class="input-group mb-4 ps-2 w-75">
      <input type="text" class="form-control border-primary border-1" name="keyword" placeholder="フリーワード検索" aria-describedby="button-addon">
      <button type="submit" class="btn btn-primary px-5" id="button-addon">検索</button>
    </div>
    <% end %>
    <div class="bib-list mb-5">
      <% if @keyword.present? %>
        <%= "「#{@keyword}」の検索結果" %>
      <% end %>
      <h6 class="ms-3 mb-3">全<%= @records.count %>件の文献情報</h6>
    </div>

    <%= will_paginate @records %>

    <!-- レコード一覧 -->
    <ul class="list-group mt-2">
      <% @records.each do |record| %>
        <li class="row list-group-item d-flex justify-content-between align-items-start shadow-sm mb-1 me-4 p-0 w-100">
          <div class="accordion accordion-flush w-100 px-0" id="accordionFlushExample">
            <div class="accordion-item" style="border-radius:5px 5px 5px 5px;">
              <!-- 基本的な書誌情報 -->
              <h2 class="accordion-header" >
                <button class="accordion-button collapsed border py-0 ps-1 border-bottom-0" style="border-radius:5px 5px 0px 0px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= record.id%>" aria-expanded="false" aria-controls="flush-collapse<%= record.id%>">
                  <% if record.type == ("Compilation" || "Paper") %>
                    <%= render "paper_info", record: record %>
                  <% elsif record.type == "Book" %>
                    <%= render "book_info", record: record %>
                  <% end %>
                </button>
              </h2>
              <!-- 詳細情報のアコーディオン -->
              <div id="flush-collapse<%= record.id%>" class="accordion-collapse collapse border" data-bs-parent="#accordionFlushExample">
                <div class="row justify-content-end accordion-body w-100">
                  <div class="col">
                    <div>
                      メモ：
                      <%= record.memo %>
                    </div>
                  </div>
                  <div class="col-1 ms-1 me-1">
                    <%= link_to "更新", edit_record_path(record), class: "col btn btn-outline-secondary btn-sm mt-2 px-3" %>
                    <%= render "delete_btn", record: record %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <div class="mt-5">
    <%= will_paginate @records %>
  </div>
</div>

