<% provide(:title, "文献の一覧・検索") %>
<div class="container-fluid">
  <h2 class="my-4">文献の一覧・検索</h1>

  <!-- 検索フォーム -->
  <%= render "records/search_forms/freewords" %>

  <!-- TODO: リファクタリング対象 -->
  <div class="bib-list mb-1" style="width:100%;">
    <div>
      <!-- タグクリックによる絞り込み結果 -->
      <% if @tag_name.present? %>
        <%= "タグ：「#{@tag_name}」" %>

      <!-- フリーワード検索による絞り込み結果 -->
      <% elsif @q.author_name_or_main_title_or_sub_title_or_publisher_or_publication_main_title_or_publication_sub_title_or_compiled_by_or_memo_cont.present? %>
      <%= "「#{@q.author_name_or_main_title_or_sub_title_or_publisher_or_publication_main_title_or_publication_sub_title_or_compiled_by_or_memo_cont}」の検索結果" %>
      <% end %>
    </div>

    <!-- 取得レコードの件数表示、および戻るボタン -->
    <div class="ms-3">
      <p class="my-2" style="display:inline-block;">全 <%= @records.count %> 件の文献情報</p>
      <%= link_to "（一覧に戻る）", records_path, class: "link-underline link-underline-opacity-0", style: "display:inline-block;" unless @q.nil? && @tag_name.nil? %>
    </div>
  </div>

  <!-- レコード一覧 -->
  <div>
    <%= will_paginate @records %>
    <!-- ユーザーが保持する文献情報がない場合のみ、サンプル入力ボタンを表示 -->
    <% if current_user.records.empty? %>
      <%= render "records/buttons/add_sample"%>
    <% end %>

    <!-- 文献一覧 -->
    <ul class="list-group mt-2">
      <% @records.each do |record| %>
        <li class="row list-group-item d-flex justify-content-between align-items-start shadow-sm mb-1 me-4 p-0 w-100">
          <div class="accordion accordion-flush w-100 px-0" id="accordionFlushExample">
            <div class="accordion-item" style="border-radius:5px 5px 5px 5px;">
              <!-- 基本情報 -->
              <h2 class="accordion-header" >
                <button class="accordion-button collapsed border py-0 ps-1 border-bottom-0" style="border-radius:5px 5px 0px 0px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= record.id%>" aria-expanded="false" aria-controls="flush-collapse<%= record.id%>">
                  <% case record.type %>
                  <% when "Compilation", "Paper" %>
                    <%= render "records/infos/paper", record: record %>
                  <% when "Book" %>
                    <%= render "records/infos/book", record: record %>
                  <% end %>
                </button>
              </h2>
              <!-- 詳細情報（アコーディオン） -->
              <div id="flush-collapse<%= record.id%>" class="accordion-collapse collapse border">
                <div class="row justify-content-end accordion-body w-100">
                  <div class="col">
                    <!-- タグ表示 -->
                    <%= render "records/buttons/tags", record: record %>
                      
                    <!-- メモ表示 -->
                    <div class="mt-4">
                      メモ：
                      <%= record.memo %>
                    </div>
                  </div>
                  <!-- 更新・削除ボタン -->
                  <div class="col-1 mx-1">
                    <%= link_to "更新", edit_record_path(record), class: "col btn btn-outline-secondary btn-sm mt-2 px-3" %>
                    <%= render "records/buttons/delete", record: record %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="mt-5">
    <%= will_paginate @records %>
  </div>
</div>

