
        <div class="main contents">
            <h1>書誌情報登録</h1>

            <%= form_with model: @book, url: records_create_book_path, local: true do |f| %>
              <div class="bibinfo-entry-form">
              <%= f.label :author_name, "著書 著者名:" %>
              <%= f.text_field :author_name %>
              <%= f.label :main_title, "主題:" %>
              <%= f.text_field :main_title %>
              <%= f.label :sub_title, "副題:" %>
              <%= f.text_field :sub_title %>
              <%= f.label :volume_other_form, "巻号その他:" %>
              <%= f.text_field :volume_other_form %>
              <%= f.label :publish_date, "出版年" %>
              <%= f.number_field :publish_date %>
              <%= f.label :publisher, "出版社" %>
              <%= f.text_field :publisher %>
              <%= f.label :memo, "メモ" %>
              <%= f.text_area :memo %>
              <%= f.label :status, "状態:" %>
              <%= f.number_field :status %>
              <%= f.submit "著書として登録" %>
              </div>
            <% end %>

            <%= form_with model: @paper, url: records_create_paper_path, local: true do |f| %>
              <div class="bibinfo-entry-form">
                <%= f.label :author_name, "雑誌論文 著者名:" %>
                <%= f.text_field :author_name %>
                <%= f.label :main_title, "主題:" %>
                <%= f.text_field :main_title %>
                <%= f.label :sub_title, "副題:" %>
                <%= f.text_field :sub_title %>
                <%= f.label :publish_date, "出版年" %>
                <%= f.number_field :publish_date %>
                <%= f.label :publisher, "出版社" %>
                <%= f.text_field :publisher %>
                <p>収録物</p>
                <%= f.label :compiled_by, "編者" %>
                <%= f.text_field :compiled_by %>
                <%= f.label :publication_main_title, "主題:" %>
                <%= f.text_field :publication_main_title  %>
                <%= f.label :publication_sub_title, "副題:" %>
                <%= f.text_field :publication_sub_title  %>
                <%= f.label :volume, "巻:" %>
                <%= f.number_field :volume %>
                <%= f.label :no, "号:" %>
                <%= f.number_field :no %>
                <%= f.label :volume_other_form, "巻号その他:" %>
                <%= f.text_field :volume_other_form %>
                <%= f.label :memo, "メモ" %>
                <%= f.text_area :memo  %>
                <%= f.label :status, "状態:" %>
                <%= f.number_field :status %>
                <%= f.submit "論文として登録" %>
              </div>
            <% end %>

            <%= form_with model: @compilation, url: records_create_compilation_path, local: true do |f| %>
              <div class="bibinfo-entry-form">
                <%= f.label :author_name, "編著論文 著者名:" %>
                <%= f.text_field :author_name %>
                <%= f.label :main_title, "主題:" %>
                <%= f.text_field :main_title %>
                <%= f.label :sub_title, "副題:" %>
                <%= f.text_field :sub_title %>
                <%= f.label :publish_date, "出版年" %>
                <%= f.number_field :publish_date %>
                <%= f.label :publisher, "出版社" %>
                <%= f.text_field :publisher %>
                <p>収録物</p>
                <%= f.label :compiled_by, "編者" %>
                <%= f.text_field :compiled_by %>
                <%= f.label :publication_main_title, "主題:" %>
                <%= f.text_field :publication_main_title %>
                <%= f.label :publication_sub_title, "副題:" %>
                <%= f.text_field :publication_sub_title %>
                <%= f.label :volume, "巻:" %>
                <%= f.number_field :volume %>
                <%= f.label :no, "号:" %>
                <%= f.number_field :no %>
                <%= f.label :volume_other_form, "巻号その他:" %>
                <%= f.text_field :volume_other_form %>
                <%= f.label :memo, "メモ" %>
                <%= f.text_area :memo %>
                <%= f.label :status, "状態:" %>
                <%= f.number_field :status %>
                <%= f.submit "編著として登録" %>
              </div>
            <% end %>
        </div>

