<main>
  <div class="container">
    <div class="main-wrapper">
      <nav class="side-menu">

      <h1>Navigation</h1>
        <ul>
            <li>
                <%= link_to("ホーム・書誌情報入力", "/records/new") %> 
            </li>
            <li>
                <%= link_to("登録書誌表示・検索", "/records/index") %>
            </li>
            <li>
                <a href="#">利用方法</a>
            </li>
            <li>
                <%= link_to("ログアウト", "/logout", {method: "post"}) %>
            </li>
            <li>
                <a href="#">設定</a>
            </li>
        </ul>
        <div class="information-wrapper">
            <h2>インフォメーション</h2>
        </div>
        <div class="contact-wrapper">
            <h2>お問い合わせ</h2>
        </div>
      </nav>
    
      <!-- 検索画面 -->
      <section>
        <div class="main contents">
            <h1>書誌情報登録</h1>

            <%= form_tag("/records/create_book", {method: "post"}) do %>
              <div class="bibinfo-entry-form">
                <label for="author_name">論文著者名:</label>
                <input type="text" id="author_name" name="author_name" value="<%= %>">
                <label for="main_title">主題:</label>
                <input type="text" id="main_title" name="main_title" value="<%= %>">
                <label for="sub_title">副題:</label>
                <input type="text" id="sub_title" name="sub_title" value="<%= %>">
                <label for="publish_date">出版年:</label>
                <input type="integer" id="publish_date" name="publish_date" value="<%= %>">
                <label for="publisher">出版社:</label>
                <input type="text" id="publisher" name="publisher" value="<%= %>">
                <label for="memo">メモ:</label>
                <textarea id="memo" name="memo" value="<%= %>"></textarea>
                <label for="status">状態:（0=既読、1=未読、2=オミット）</label>
                <input type="integer" id="status" name="status" value="<%= 0 %>">
                <input type="submit" value="著書として登録">

              </div>
            <% end %>

            <%= form_tag("/records/create_paper", {method: "post"}) do %>
              <div class="bibinfo-entry-form">

                <label for="type">形態:（0=編著、1=著書、2=論文）</label>
                <input type="integer" id="type" name="type" value="<%= %>">
                <label for="author_name">論文著者名:</label>
                <input type="text" id="author_name" name="author_name" value="<%= %>">
                <label for="main_title">主題:</label>
                <input type="text" id="main_title" name="main_title" value="<%= %>">
                <label for="sub_title">副題:</label>
                <input type="text" id="sub_title" name="sub_title" value="<%= %>">
                <label for="publish_date">出版年:</label>
                <input type="integer" id="publish_date" name="publish_date" value="<%= %>">
                <label for="publisher">出版社:</label>
                <input type="text" id="publisher" name="publisher" value="<%= %>">
                <label for="compiled_by">雑誌編者:</label>
                <input type="text" id="compiled_by" name="compiled_by" value="<%= %>">
                <label for="publication">収録雑誌名:</label>
                <input type="text" id="publication" name="publication" value="<%= %>">
                <label for="volume">巻:</label>
                <input type="integer" id="volume" name="volume" value="<%= %>">
                <label for="no">号:</label>
                <input type="integer" id="no" name="no" value="<%= %>">
                <label for="memo">メモ:</label>
                <textarea id="memo" name="memo" value="<%= %>"></textarea>
                <label for="status">状態:（0=既読、1=未読、2=オミット）</label>
                <input type="integer" id="status" name="status" value="<%= 0 %>">
                <input type="submit" value="雑誌論文として登録">

              </div>
            <% end %>
            
            <%= form_tag("/records/create_compilation", {method: "post"}) do %>
              <div class="bibinfo-entry-form">

                <label for="type">形態:（0=編著、1=著書、2=論文）</label>
                <input type="integer" id="type" name="type" value="<%= %>">
                <label for="author_name">論文著者名:</label>
                <input type="text" id="author_name" name="author_name" value="<%= %>">
                <label for="main_title">主題:</label>
                <input type="text" id="main_title" name="main_title" value="<%= %>">
                <label for="sub_title">副題:</label>
                <input type="text" id="sub_title" name="sub_title" value="<%= %>">
                <label for="publish_date">出版年:</label>
                <input type="integer" id="publish_date" name="publish_date" value="<%= %>">
                <label for="publisher">出版社:</label>
                <input type="text" id="publisher" name="publisher" value="<%= %>">
                <label for="compiled_by">編者:</label>
                <input type="text" id="compiled_by" name="compiled_by" value="<%= %>">
                <label for="publication">収録書籍名:</label>
                <input type="text" id="publication" name="publication" value="<%= %>">
                <label for="volume">巻:</label>
                <input type="integer" id="volume" name="volume" value="<%= %>">
                <label for="no">号:</label>
                <input type="integer" id="no" name="no" value="<%= %>">
                <label for="memo">メモ:</label>
                <textarea id="memo" name="memo" value="<%= %>"></textarea>
                <label for="status">状態:（0=既読、1=未読、2=オミット）</label>
                <input type="integer" id="status" name="status" value="<%= 0 %>">
                <input type="submit" value="編著として登録">

              </div>
            <% end %>
        </div>
      </section>
    </div>
  </div>
</main>
