<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
    <% if logged_in? %>
      <%= link_to "JemRef", records_path, class:"navbar-brand px-4 fs-2 fw-bold" %>
    <% else %>
      <%= link_to "JemRef", root_path, class:"navbar-brand px-4 fs-2 fw-bold" %>
    <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <!-- ログイン時のナビゲーションバー -->
          <% if logged_in? %>
          <li class="nav-item"></li>
            <%= link_to "文献の一覧・検索", records_path, class: "nav-link pe-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "文献情報の入力", new_record_path, class: "nav-link pe-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "お知らせ・お問い合わせ", home_information_path, class: "nav-link pe-3" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">アカウント</a>
            <ul class="dropdown-menu" style="width: 200px;">
              <li><p class="ps-3">現在のユーザー </p></li>
              <li><p class="ps-4"><span class="fa fa-user pe-2" style="color:white;"></span> <%= @current_user.name %></p></li>
              <li><hr class="dropdown-divider mb-3"></li>
              <li><%= link_to "ユーザー情報の編集", edit_user_path(current_user), class: "dropdown-item ps-4 mb-3" %></li>
              <li><%= link_to "ログアウト", logout_path, class: "dropdown-item ps-4 mb-3",
                                           data: { "turbo-method": :delete } %></li>
            </ul>
          </li>
          <!-- 非ログイン時のナビゲーションバー -->
          <% else %>
          <li class="nav-item">
            <%= link_to "お知らせ・お問い合わせ", home_information_path, class:"nav-link pe-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", login_path, class: "nav-link pe-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", signup_path, class: "nav-link pe-3" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>