<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "JemRef" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header>
    <div class="container">
      <div class="header-wrapper">
        <div class="header-left">
          <%= link_to("/login") do %>
          <h1>JemRef</h1>
          <% end %>
        </div>

        <% if flash[:notice] %>
          <div class="flash-notice">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <div class="header-right">
          <% if session[:user_id] != "nil" %>
            現在ログインしているユーザーのID: <%= session[:user_id] %>
          <% else %>
            <%= link_to("ログイン", "/login") %>
            <p>または</p>
            <%= link_to("新規登録", "/signin") %>
          <% end %>
        </div>
        
      </div>
    </div>
  </header>



  <%= yield %>
  
  <footer>
    <h1>Footer</h1>
  </footer>
  </body>
</html>
